body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:445px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:45px;
  width:407px;
  height:354px;
  overflow:hidden;
}
#u55_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:354px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u55_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:32px;
  width:84px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:300px;
  height:25px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:173px;
  width:300px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:59px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:225px;
  width:194px;
  height:59px;
  font-size:18px;
  color:#FFFFFF;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:190px;
  word-wrap:break-word;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366FF;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:294px;
  width:94px;
  height:24px;
  color:#3366FF;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u55_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:354px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u55_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:32px;
  width:84px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:89px;
  width:300px;
  height:25px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:134px;
  width:300px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:59px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:225px;
  width:194px;
  height:59px;
  font-size:18px;
  color:#FFFFFF;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:190px;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366FF;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:294px;
  width:146px;
  height:24px;
  color:#3366FF;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:142px;
  word-wrap:break-word;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:184px;
  width:300px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
